@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div ng-app>
    <label>Name:</label>
    <input type="text" ng-model="yourname" placeholder="Enter your name here" />
    <hr />
    <h1>Hello {{yourname}}</h1>
</div>
